<ul>
<li><%= @project.title %></li>
	<li><%= @project.category_id.name %></li>
	<li><%= @project.funding_goal %></li>
	<li><%= @project.startdate %></li>
	<li><%= @project.enddate %></li>
	<li><%= @project.beneficiary_id.name %></li>
	<li><%= @project.timestamp %></li>
</ul>